// Import des variables css (à charger dans chaque composant si besoin)
@import '~css/variables'

// Style de mon composant PostsListComment :

.post-list-comment
  width calc(70%)
  margin-top 20px
  // margin-left 15px
  // margin-right 15px
  border-left 1px solid $gray-gray

  &__content
    text-align justify
    color $gray-gray
    padding 20px
    font-size 1em
    line-height 20px

  &__readMore
    cursor pointer
    color $orange-flame-pea
    font-size .8em
    text-align right
